.footer {
  background-color: #161415;
  color: #EA0000;
  font-size: 1.3em;
  text-align: center;
  padding: 20px 0;
}

/* Custom Cursors */
.app {
  cursor: url(../../assets/select.png), auto;
}

.app button {
  cursor: url(../../assets/target.png), auto;
}